{% extends 'layout/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{%block title%}Home{%endblock title%}
{% block content%}
      <div >
        <form action="" method="post">
          {% csrf_token %}
          {{addgoals.as_p}}
          <input type="submit" class="btn btn-primary" value="Add" >
        </form>
       
      </div>
        
</div>
{% endblock content%}
{% block scripts %} 
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{%endblock scripts%}